div {
	position: static;
	background-color: white;
	border: 1px solid white;
	
}


.button{
	background-color: #CAF0ED;
}

#update{
	background-color: #F0CECA;
	border: 5px;
	border-bottom: 0;
	margin-bottom: 5em;

}

#title {
	color : #36DCCF;
	font-weight : bold;
}

#back {
	margin-left: 10px;
	background-color :#C1D6F5 ;
}